main {
  background-image: url(../imagenes/fondoweb3.jpg); }

header nav {
  background-image: linear-gradient(45deg, #1f9c9a, #26cabd); }

.navbar-brand {
  background-color: #4dc3b1;
  border-radius: 20px;
  padding: 10px; }
  .navbar-brand:hover {
    background-color: #6fd8c5; }

footer {
  background-image: linear-gradient(45deg, #70eed9, white); }

.titlein {
  color: #fefefe;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #087167;
  text-shadow: 0.1em 0.1em 0.2em; }

.parrafoin {
  font-size: larger; }
  .parrafoin:hover {
    color: #f6faf9;
    transition: 0.5s; }

.titlein1 {
  color: #41695a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.titlein2 {
  color: #5e8f7d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.imgin {
  max-height: 550px; }
  .imgin:hover {
    transform: translateY(15px);
    transition: transform 0.5s; }

.imgin2:hover {
  transform: translateY(-15px);
  transition: transform 0.5s; }

.buttonin {
  background-color: #a7f8e8;
  border-radius: 10px;
  padding: 10px; }
  .buttonin:hover {
    background-color: aliceblue;
    transition: 0.5s; }

.description-nosotros {
  font-size: larger; }
  .description-nosotros:hover {
    color: #3ec095;
    transition: 0.5s; }

.img-nosotros {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  max-height: 500px; }

.video-nosotros {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5); }

.cardservice {
  background-color: #c2edeb;
  border-radius: 30px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger; }
  .cardservice:hover {
    color: #3ec095;
    transition: 0.5s; }

.cardservicios1:hover {
  transform: translateX(-15px);
  transition: transform 0.5s; }

.cardservicios2:hover {
  transform: translateY(-15px);
  transition: transform 0.5s; }

.cardservicios3:hover {
  transform: translateX(15px);
  transition: transform 0.5s; }

.carousel-trabajos {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5); }

.trabajoimg1 {
  width: 70%; }

.card {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5); }

.contacto_form {
  background-color: #b9fcf7;
  border-radius: 30px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5); }
  .contacto_form:hover {
    color: #1d6d52; }
  .contacto_form:hover {
    transform: translateY(15px);
    transition: transform 0.5s; }

.contacto_img {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5); }
